.movies-link{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://user-images.githubusercontent.com/23629340/36983687-49a3d64e-2093-11e8-8b86-b11813f0cdba.png');
  background-size: cover;
  padding-bottom: 300px;
}

.movies {
  color: #00B7FF;
 display: flex;
 justify-content: center;
 text-align: center;
 margin-top: 360px;
 margin-left: 500px;
 text-indent: -9999px; 

}
